.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title {
    position: relative;
}

.Title-Content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title-Pargraph {
    font-size: 44px;
    color: var(--white-color);
    font-weight: 600;
}

.Title-Image img {
    width: 100%;
}

.Title-Button {
    margin-top: 30px;
    padding: 10px 32px;
    background-color: var(--blue-color);
    border-radius: 4px;
    color: var(--white-color);
    font-size: 16px;
}

.Title-Cards {
    display: flex;
    gap: 30px;
    margin-top: 94px;
}

.Title-Cards__List {
    max-width: 270px;
    li {
        &:first-child {
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--light-grey);
            border-radius: 4px;
            margin-bottom: 30px;
        }
        &:last-child {
            p {
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 14px;
            }
            span {
                color: var(--dark-grey);
            }
        }
    }
}
